html {
	font-size: calc(12px + (16 - 12) * (100vw - 320px) / (1440 - 320));
}

body {
	text-align: center;
	overflow: hidden;
	color: #191919;
}
.App {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
h1 {
	margin: 10px auto 0;
}
.csv-input {
	text-align: center;
	padding: 5px;
}
.box {
	height: 70vh;
	border: 1px dotted #191919;
	width: 95%;
}
select {
	margin: 0 5px;
}
.nav {
	background-color: #f77487;
	border: none;
	padding: 5px 10px;
	margin: 0 10px;
}

.scroll {
	margin-top: 5px;

	width: 95vw;
	height: 78vh;
	overflow: auto;
}

table {
	border: 1px dotted #191919;
	text-align: left;
	overflow: auto;
	height: 100px;
	white-space: nowrap;
}
th,
td {
	padding: 5px;
}

th {
	position: sticky;
	background: #f77487;
	top: 0;
}
td {
	border: 1px dotted #191919;
	border-top: none;
}

tr:nth-child(even) {
	background-color: #f5e7e5;
}

.buttons {
	display: inline;
}
.sort {
	border: none;
	background: transparent;
}
.sort:hover,
.sort:focus,
.nav:not([disabled]):hover,
.nav:not([disabled]):focus {
	color: #f5e7e5;
}

footer p {
	margin: 5px;
}

footer a {
	color: #191919;
}
footer a:hover,
footer a:focus {
	font-weight: 700;
}
