html {
	font-size: calc(12px + (14 - 12) * (100vw - 320px) / (1440 - 320));
}

body {
	text-align: center;
	overflow: hidden;
	color: #1a1c1c;
	background-color: #f2efea;
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Roboto', sans-serif;
}
.App {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

h1,
h2 {
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin-bottom: 0;
}
.csv-input {
	text-align: center;
	padding: 5px;
}
.box {
	height: 72vh;
	border: 1px dotted #1a1c1c;
	width: 95%;
}

.nav {
	background-color: #37b018;
	border: none;
	padding: 5px 10px;
	margin: 0 10px;
}

.data {
	flex-basis: 100%;
	flex-grow: 2;
	max-height: 75vh;
}
.scroll {
	margin-top: 1rem;
	width: 95vw;
	overflow: auto;
	height: 100%;
}

table {
	border: 1px dotted #1a1c1c;
	text-align: left;
	overflow: auto;
	height: 100px;
	white-space: nowrap;
}

th,
td {
	padding: 1rem;
}

th {
	position: sticky;
	background: #37b018;
	top: 0;
}
td {
	border: 1px dotted #1a1c1c;
	border-top: none;
}

tr:nth-child(even) {
	background-color: #ffffff;
}
tr:nth-child(odd) {
	background-color: #e0e1e0;
}

.buttons {
	display: inline;
}
.sort {
	border: none;
	background: transparent;
}

.nav:disabled {
	background-color: #ccc;
}
.sort:hover,
.sort:focus,
.nav:not([disabled]):hover,
.nav:not([disabled]):focus {
	color: #f5e7e5;
}

footer {
	padding-top: 2rem;
}

footer a {
	color: #1a1c1c;
}
footer a:hover,
footer a:focus {
	font-weight: 700;
}
