html {
	font-size: calc(12px + (14 - 12) * (100vw - 320px) / (1440 - 320));
}

body {
	text-align: center;
	overflow: hidden;
	color: #1a1c1c;
	background-color: #f2efea;
	font-family: 'Roboto', sans-serif;
}

.App {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

h1,
h2 {
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin-bottom: 0;
}

.csv-input {
	text-align: center;
	padding: 5px;
}

select {
	margin: 0 0.5rem;
}

.box {
	height: 78vh;
	border: 1px dotted #1a1c1c;
	width: 95%;
}

.nav {
	background-color: #37b018;
	border: none;
	padding: 5px 10px;
	margin: 0 10px;
}

.data {
	flex-basis: 100%;
	flex-grow: 1;
	max-height: 78vh;
}
.scroll {
	margin-top: 1rem;
	width: 95vw;
	overflow: auto;
	height: 95%;
}

table {
	border: 1px dotted #1a1c1c;
	text-align: left;
	overflow: auto;
	height: 100px;
	white-space: nowrap;
}

th,
td {
	padding: 1rem;
}

th {
	position: sticky;
	background: #37b018;
	top: 0;
}
.tHeader {
	background: transparent;
	border: none;
	padding: 0;
	font-weight: 700;
}
.nav:disabled {
	background-color: #e0e1e0;
}

.tHeader:hover,
.tHeader:focus,
.nav:not([disabled]):hover,
.nav:not([disabled]):focus {
	color: #fff;
	transition: color 0.2s;
	cursor: pointer;
}

td {
	border: 1px dotted #1a1c1c;
	border-top: none;
}

tr:nth-child(even) {
	background-color: #fff;
}
tr:nth-child(odd) {
	background-color: #e0e1e0;
}

footer {
	margin-top: 2rem;
}

footer a {
	color: #1a1c1c;
}
footer a:hover,
footer a:focus {
	font-weight: 700;
}
